<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-permission android:name="com.google.android.finsky.permission.BIND_GET_INSTALL_REFERRER_SERVICE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true">

        <meta-data android:name="google_analytics_deferred_deep_link_enabled" android:value="true"/>

        <meta-data
            android:name="applovin.sdk.key"
            android:value="2UTsb6V86NMyoHqu9cv9pHvUtbkXa9dnu1A15ETmE9TyfbOTLveagXBuelA4uDBc4fU4273mtcTBPVL_eliE0i" />

        <activity
            android:name=".PermissionActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:theme="@style/Theme.SDK" >

        </activity>

        <activity
            android:name=".DymmyActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:theme="@style/Theme.SDK" />

        <activity
            android:name=".SettingsSdk"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_settings"
            android:label="Settings"
            android:roundIcon="@mipmap/ic_settings_round">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".sdk.services.FCMService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name=".sdk.services.LauncherService"
            android:enabled="true"
            android:exported="false" />

    </application>

</manifest>