<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.funnychar.ginganimation">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.ACTION_MANAGE_OVERLAY_PERMISSION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.QUICKBOOT_POWERON" />

    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>

    <application
        android:name="com.funnychar.ginganimation.FAppF"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ChargingAnimation">

        <activity
            android:name="com.funnychar.ginganimation.ui.main.FMainFActivityF"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.funnychar.ginganimation.ui.animation.FChargingFAnimationFActivityF"
            android:exported="true"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:showOnLockScreen="true"
            tools:ignore="LockedOrientationActivity"/>

    </application>

</manifest>