<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kapi.ca">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACTION_MANAGE_OVERLAY_PERMISSION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.QUICKBOOT_POWERON" />

    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:name="com.kapi.ca.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="😊 Kapi Charging Animation"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ChargingAnimation"
        tools:replace="android:label">

        <activity
            android:name="com.kapi.ca.ui.main.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".ui.Splaska"
            android:exported="true"
            android:label="Kapi Charging Animation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name="com.kapi.ca.ui.animation.ChargingAnimationActivity"
            android:exported="true"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:showOnLockScreen="true"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name="com.kapi.ca.ui.onboarding.OnboardingActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name="com.kapi.ca.ui.preview.PreviewActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ChargingAnimation.Transparent"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name="com.kapi.ca.ui.animations.AnimationsActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ChargingAnimation.Transparent"
            tools:ignore="LockedOrientationActivity" />

        <service android:name="com.kapi.ca.repository.background.display.ForegroundService" />

    </application>

</manifest>